html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: rgb(223, 223, 223);
}

#end {
    background-color: rgb(63, 63, 63);
    color: white
}

.tekst {
    background-color: rgb(48, 48, 247);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}