<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proovitöö</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proovitöö.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-md bg-light">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/logo.svg" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Avaleht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Eventadding">Ürituste lisamine</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/symbol.svg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div id="end">
                <div class="row">
                    <div class="col-6 col-sm-3">
                        <h1>Curabitur</h1>
                    </div>
                    <div class="col-6 col-sm-3">
                        <h1>Fusce</h1>
                    </div>
                    <div class="col-6 col-sm-3">
                        <h1>Kontakt</h1>
                    </div>
                    <div class="col-6 col-sm-3"></div>

                    <div class="col-6 col-sm-3">
                        <div class="footer-text">
                            <p>Emauris</p>
                            <p>Kfringilla</p>
                            <p>Oin magna sem</p>
                            <p>Kelementum</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="footer-text">
                            <p>Emauris</p>
                            <p>Kfringilla</p>
                            <p>Oin magna sem</p>
                            <p>Kelementum</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="footer-text">
                            <p><strong>Peakontor:Tallinnas</strong></p>
                            <p>Väike-Ameerika 1, 11415 Tallinn</p>
                            <p>Telefon: 605 4450</p>
                            <p>Faks: 605 3186</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="footer-text">
                            <p><strong>Harukontor:Võrus</strong></p>
                            <p>Oja tn 7 (külastusaadress)</p>
                            <p>Telefon:605 3330</p>
                            <p>Faks:605 3155</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
