@{
    ViewData["Title"] = "Home Page";
}


<div class="tekst">
    <div class="row">
        <div class="col-lg-6 align-items-center text-center d-flex">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor risus vitae turpis sodales rutrum. Vivamus tincidunt tortor finibus molestie condimentum. Donec ut vestibulum massa, ut porttitor magna. Sed vel luctus purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In id mi auctor, consectetur nisi vitae, ultricies mi. Praesent varius ac velit quis vulputate. Integer nec lectus pulvinar, consectetur orci id, lobortis erat. Proin et arcu ornare odio scelerisque hendrerit. Curabitur enim justo, iaculis dapibus erat quis, molestie vestibulum mi. Sed egestas leo non hendrerit auctor.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid" src="~/css/pilt.jpg">
        </div>
    </div>
</div>