@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="tekst2">
    <div class="row">
        <div class="col-2 align-items-center text-align-center d-flex" id="picturetext">
            <p>Osaleja</p>
        </div>
        <div class="col-10">
            <img class="picture" src="~/css/libled.jpg">
        </div>
    </div>
</div>



<!--Placeholderisse lisada andmebaasist info-->
<!--Eraisiku muutmise form loomine-->
<div class="formdesign">
    <form method="post" action="/Home/editprivate">
        <div class="form-group row">
            <label for="eesnimi" class="col-sm-2 col-form-label">Eesnimi:</label>
            <div class="col-sm-3">
                <input type="text" placeholder="" size="20" maxlength="30" name="firstname" id="eesnimi" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="perenimi" class="col-sm-2 col-form-label">Perenimi:</label>
            <div class="col-sm-3">
                <input type="text" placeholder="" size="20" maxlength="30" name="surname" id="perenimi" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="isikukood" class="col-sm-2 col-form-label">Isikukood:</label>
            <div class="col-sm-3">
                <input type="number" placeholder="" size="25" maxlength="11" name="identitynumber" id="isikukood" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="maksmisviis" class="col-sm-2 col-form-label">Maksmisviis:</label>
            <div class="col-sm-3">
                <select name="payment_type" id="paymenttype">
                    <option value="1">Kaart</option>
                    <option value="2">Sula</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="lisainfo" class="col-sm-2 col-form-label">Lisainfo:</label>
            <div class="col-sm-3">
                <input type="text" placeholder="" size="20" maxlength="1500" name="additionalinfo" style="padding-bottom:50px;" id="lisainfo" required>
            </div>
        </div>
        <input type="hidden" value="@ViewBag.ID" name="PrivateID">
        <input type="hidden" value="@ViewBag.EventID" name="EventID">
        <button type="submit" class="lisa">lisa</button>
    </form>
</div>


